@media all {
  body {
    font-family: 'Overpass', sans-serif;
  }

  body {
    background: hsl(216, 12%, 8%);
    color: white;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
  }

  h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: -0.4rem;
  }

  p {
    color: hsl(216, 12%, 54%);
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }

  .state-end, #card-end {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    visibility: hidden;
  }

  .state-start, .state-end, #card-start, #card-end {
    background: hsla(213, 19%, 18%, 0.4);
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    border-radius: 20px;
  }

  .state-start, #card-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .circle {
    width: 15px;
    height: 15px;
    background: hsl(213, 19%, 18%);
    padding: 0.7rem;
    border-radius: 50%;
  }

  .card .circle {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }

  .number {
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .number div {
    margin-right: 1rem;
    cursor: pointer;
  }

  .number div:hover {
    background-color: hsl(25, 97%, 53%);
    color: white !important; 
  }

  #btn-1,
  #btn-2,
  #btn-3,
  #btn-4,
  #btn-5 {
    border: none;
    color: hsl(216, 12%, 54%);
    font-weight: 700;
  }

  .HoverClass1:hover {
    background-color: hsl(25, 97%, 53%) !important;
  }

  .HoverClass2:hover {
    background-color: yellow !important;
  }

  .submit {
    display: flex;
    flex-direction: column;
    margin-top: -0.4rem;
    margin-bottom: -0.7rem;
  }

  .submit button {
    border: none;
    padding: 0.7rem;
    background: hsl(25, 97%, 53%);
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Overpass', sans-serif;
    cursor: pointer;
  }

  #score {
    font-size: 15px;
    text-align: center;
    padding: 0.3rem 1rem;
    padding-top: 0.5rem;
    border-radius: 20px;
    background: hsl(213, 19%, 18%);
    color: hsl(25, 97%, 53%);
  }

  #thx-text {
    margin-top: 2rem;
    text-align: center;
  }

  .thankyou-icon {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  #thx-p {
    text-align: center;
    padding: 0 1.5rem;
    margin-bottom: -0.2rem;
  }

}

/* desktop */
@media (min-width: 376px) {
  #icon {
    width: 15px;
  }

  p {
    font-size: 15px;
  }

  .state-start, .state-end, #card-start, #card-end {
    width: 23%;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }

  #btn-1,
  #btn-2,
  #btn-3,
  #btn-4,
  #btn-5 {
    padding: 1rem;
  }

  #score {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  #thx-p {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

/* mobile */
@media (max-width: 375px) {
  #icon {
    width: 15px;
  }

  p {
    font-size: 14px;
  }

  .state-start, .state-end, #card-start, #card-end {
    width: 77%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  #btn-1,
  #btn-2,
  #btn-3,
  #btn-4,
  #btn-5 {
    padding: 0.9rem;
  }

  #score {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  #thx-p {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}