@media all {
  body {
    font-family: 'Overpass', sans-serif;
  }

  body {
    background: hsl(216, 12%, 8%);
    color: white;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
  }

  h1 {
    font-weight: 700;
  }

  p {
    color: hsl(216, 12%, 54%);
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }

  .state-end, #card-end {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    visibility: hidden;
  }

  .state-start, .state-end, #card-start, #card-end {
    /* visibility: hidden; */
    background: hsla(213, 19%, 18%, 0.4);
    
    margin: 0 auto;
    width: 23%;
    padding: 2.5rem;
    padding-left: 2rem;
    border-radius: 20px;
  }

  .state-start, #card-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .circle {
    width: 15px;
    height: 15px;
    background: hsl(213, 19%, 18%);
    padding: 0.7rem;
    border-radius: 50%;
  }

  .card .circle {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }

  .number {
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .number div {
    margin-right: 1rem;
    cursor: pointer;
  }

  /* .number .circle {
    width: 20px;
    height: 20px;
    padding: 1rem;
    padding-bottom: 0.9rem;
  } */
  .number div:hover {
    background-color: hsl(25, 97%, 53%);
  }
  /* .number .circle:hover::after {
    background-color: hsl(25, 97%, 53%);
  } */
  #btn-1,
  #btn-2,
  #btn-3,
  #btn-4,
  #btn-5 {
    padding: 1rem;
    border: none;
    color: hsl(216, 12%, 54%);
    font-weight: 700;
  }

  /* #btn-1:hover, #btn-2:hover, #btn-3:hover, #btn-4:hover, #btn-5:hover {
    cursor: pointer;
    text-transform: uppercase;
  } */

  .HoverClass1:hover {
    background-color: hsl(25, 97%, 53%) !important;
  }

  .HoverClass2:hover {
    background-color: yellow !important;
  }

  .submit {
    display: flex;
    flex-direction: column;
    margin-top: -0.4rem;
    margin-bottom: -0.7rem;
  }

  .submit button {
    border: none;
    padding: 0.7rem;
    background: hsl(25, 97%, 53%);
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Overpass', sans-serif;
    cursor: pointer;
  }
}

@media (min-width: 376px) {
  #icon {
    width: 15px;
  }

  h1 {
    margin-bottom: -0.4rem;
  }
}